.cardcontainer {
  display: block;
  position: relative;
  width: 16rem;
  height: 28rem;
}

.cardcontainer--image {
  cursor: pointer;
}

.cardcontainer--info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardcontainer--info--date {
  border: 1px solid white;
  border-radius: 5px;
  color: gray;
  padding: 5px;
  margin: 0;

}

.cardcontainer--info--title {
  font-size: 1.5rem;
  color: white;
}

.cardcontainer--info--additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardcontainer--info--additional-text{
  font-size: 1rem;
  color: gray;
}

.contextMenuIcon {
  display: none;
}

.cardcontainer:hover .contextMenuIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: brown;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bolder;
  top: 0.5rem;
  right: 0.3rem;
  cursor: pointer;
}

.contextMenuWrapper {
  position: absolute;
  background-color: hsl(0, 0%, 10%);
  width: 6rem;
  height: 4.5rem;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  right: 0;
  top: 0;
  padding: 0.3rem;
}

.contextMenu-img {
  position: relative;
  left: 5rem;
  top: 0;
  width: 0.8rem;
  height: 0.8rem;
}

.contextMenuItem {
  cursor: pointer;
}

.contextMenuItem:hover {
  background-color: brown;
}
