.cardcontainer {
  display: block;
  width: 15rem;
  height: 31rem;
}

.cardcontainer--info--title {
  font-size: 1.5rem;
  color: white;
}

.cardcontainer--info--additional {
  display: flex;
  justify-content: space-between;
}

.cardcontainer--info--additional-text{
  font-size: 1rem;
  color: gray;
}
