.inputwrapper {
  margin: 0 1rem;
}

.inputlabel {
  height: 2rem;
  color: brown;
  font-size: 1rem;
}

.inputfield {
  background-color: hsl(0, 0%, 20%);
  font-size: 1rem;
  height: 2rem;
  color: white;
  border: none;
  border-radius: 5px;
}

.inputfield-wide {
  width: 28rem;
}

.inputfield-narrow {
  width: 16rem;
}