.formdeletewrapper {
  width: 33rem;
  background-color: hsl(0, 0%, 15%);
  margin: 15px auto;
  padding: 20px 15px;
}

.formdelete--text {
  color: white;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 20px;
}

.formdelete--text--question {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 20px 20px;
}

.formdelete--buttons-wrapper {
  margin-top: 3rem;
  margin-left: 22rem;
  margin-bottom: 1rem;
}

.formdelete-img {
  margin-left: 31.5rem;
}